﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="OAutoru.aspx.cs" Inherits="EIT_A12.OAutoru" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="main.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <a href="Knjiga_Utisaka.aspx">Knjiga_Utisaka.aspx</a>&nbsp;&nbsp;&nbsp;
        <br />
        <a href="Uputstvo.aspx">Uputstvo.aspx</a><br />
        <br />
        dsadasdsads</div>
    </form>
</body>
</html>
