﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Uputstvo.aspx.cs" Inherits="EIT_A12.KnjigaUtisaka" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="main.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <a href="Knjiga_Utisaka.aspx">Knjiga_Utisaka.aspx</a>&nbsp;&nbsp;&nbsp; <a href="OAutoru.aspx">OAutoru.aspx</a><br />
        <br />
        dadasd</div>
    </form>
</body>
</html>
