﻿body {background-color:black;
      color:yellow;
      font-family:Aharoni;
      font-size:medium;
}
#MojaTabela {
    margin:10px auto;
    font-weight:normal;
    width:100%;
}
#glava,#mojaglava,#tvojaglava {
    border: 1px solid #f00;
    padding: 2px;
    text-align: center;
    background-color:pink;
}
#z,#mz,#tz,#z1,#mz1,#tz1,#z2,#mz2,#tz2{
    text-align:center;
    border: 1px solid;
}

