﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="O aplikaciji.aspx.cs" Inherits="EIT_A21.O_aplikaciji" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="CSSkod.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Label1" runat="server" Text="Label">Dario Urban</asp:Label>
        <br />
        <br />
        <asp:Label ID="Label2" runat="server" Text="Label">urbandario@yahoo.com</asp:Label>
        <br />
        <br />
        <asp:Label ID="Label3" runat="server" Text="Label">Aplikacija se zove:Sortiranje tabele</asp:Label>
        <br />
        <br />
        <asp:Label ID="Label4" runat="server" Text="Label">28.03.2017</asp:Label>
        <br />
        <br />
        <br />
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Sortiranje tabele.aspx">Sortiranje tabele</asp:HyperLink>
    
    </div>
    </form>
</body>
</html>
