﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Uputstvo.aspx.cs" Inherits="EIT_A9.Uputstvo" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Label1" runat="server" Text="Unesite tekst koji zelite da prevedete u zavisnosti da li je na cerilici ili latinici  u odgovarajuce polje"></asp:Label>
        <br />
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Konvertor.aspx">Nazad na konvertor</asp:HyperLink>
    
    </div>
    </form>
</body>
</html>
