﻿<%@ Page Title="" Language="C#" MasterPageFile="~/_SHARED.Master" AutoEventWireup="true" CodeBehind="Kontakt.aspx.cs" Inherits="EIT_A7.Kontakt" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
