﻿body { background-color:black;
       color:yellow;
       font-family:Verdana;
       font:100;
}
#Table1 { width:inherit;
          border:2px;
          color:red;
          border-color:yellow;
          font-family:Arial;
}
