﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Korisnicko uputstvo.aspx.cs" Inherits="EIT_A8.Korisnicko_uputstvo" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="CSSkod.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Label1" runat="server" Text="Web prodavnica"></asp:Label>
    
        <br />
        Ova web prodavnica radi tako sto pretrazuje sve podatke iz tekstualne datte...<br />
        <br />
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Web prodavnica.aspx">Web prodavnica</asp:HyperLink>
    
    </div>
    </form>
</body>
</html>
