﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Recnik.aspx.cs" Inherits="EIT_A19.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">



</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:DropDownList ID="DropDownList1" runat="server">
        <asp:ListItem>Englesko-Srpski</asp:ListItem>
        <asp:ListItem>Srpsko-Engleski</asp:ListItem>
    </asp:DropDownList>
    <br />
    <asp:Label ID="Label1" runat="server" Text="Rec za prevod"> </asp:Label>&nbsp;&nbsp;&nbsp; <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    &nbsp;&nbsp;&nbsp;
<asp:Button ID="Button1" runat="server" Text="Prevedi" OnClick="Button1_Click" />
&nbsp;&nbsp;&nbsp;
    <asp:Label ID="Label2" runat="server" Text=""></asp:Label>
<br />
<br />
    <asp:Label ID="Label3" runat="server" Text="Prevedena rec"></asp:Label>
<asp:TextBox ID="TextBox2" runat="server" Enabled="False"></asp:TextBox>
<br />
    <asp:Label ID="Label4" runat="server" Text="Opis reci"></asp:Label>
<asp:TextBox ID="TextBox3" runat="server" Enabled="False" Height="158px" TextMode="MultiLine" Width="336px"></asp:TextBox>
    </asp:Content>
