﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="UnosReci.aspx.cs" Inherits="EIT_A19.UnosReci" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Label ID="Label1" runat="server" Text="Srpski"></asp:Label>
    <asp:TextBox ID="TextBox1" runat="server" MaxLength="50"></asp:TextBox>
    <br />
    <asp:Label ID="Label2" runat="server" Text="Engleski"></asp:Label>
    <asp:TextBox ID="TextBox2" runat="server" MaxLength="50"></asp:TextBox>
    <br />
    <asp:Label ID="Label3" runat="server" Text="Opis"></asp:Label>
    <asp:TextBox ID="TextBox3" runat="server" Height="199px" MaxLength="1024" TextMode="MultiLine" Width="346px"></asp:TextBox>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label ID="Label4" runat="server" Text=""></asp:Label>
    <br />
    <asp:Button ID="Button1" runat="server" Text="Snimi" OnClick="Button1_Click" />
</asp:Content>
