﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="WebForm2.aspx.cs" Inherits="EIT_A13_NonMVC_.WebForm2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <asp:Label ID="Label1" runat="server" Text="Izvodjac"></asp:Label> &nbsp; <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox><br />
    <asp:Label ID="Label2" runat="server" Text="Naziv albuma"></asp:Label> &nbsp; <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox><br />

    <asp:Label ID="Label3" runat="server" Text="Naziv zanra"></asp:Label> &nbsp; <asp:DropDownList ID="DropDownList1" runat="server">
        <asp:ListItem></asp:ListItem>
    </asp:DropDownList><br />
     <asp:Label ID="Label4" runat="server" Text="Godina izdanja"></asp:Label> &nbsp; <asp:DropDownList ID="DropDownList2" runat="server">
        <asp:ListItem></asp:ListItem>
    </asp:DropDownList><br />
    <asp:Label ID="Label5" runat="server" Text="Izdavacka kuca"></asp:Label> &nbsp; <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox><br /><br />
    <asp:Button ID="Button1" runat="server" Text="Submit" OnClick="Button1_Click" />

    <br />
    <asp:Label ID="Label6" runat="server" Text="Label"></asp:Label>

    <br />
    <asp:Table ID="Table1" runat="server">
    </asp:Table>

</asp:Content>
